<fieldset class="question" data-id="{{ include.question.id }}">
  <header>
    <h2>
        {{ include.question.title }}
    </h2>
    <legend>
        {{ include.question.description }}
    </legend>
  </header>
  <div class="chooser">
    <div class="wrap">
      <div class="choice1-label choice-label">
        {{ include.question.option1 }}
      </div>
      <div class="choice2-label choice-label">
        {{ include.question.option2 }}
      </div>
    </div>

    <div class="options">
      <label class="option">
        <input
          type="radio"
          name="{{ include.question.id }}"
          value="-2" />
          Bevorzuge ich ganz klar
      </label>
      <label class="option">
        <input
          type="radio"
          name="{{ include.question.id }}"
          value="-1" />
          Bevorzuge ich eher
      </label>
      <label class="option">
        <input
          type="radio"
          name="{{ include.question.id }}"
          value="0" />
          Neutral
      </label>
      <label class="option">
        <input
          type="radio"
          name="{{ include.question.id }}"
          value="+1" />
          Bevorzuge ich eher
      </label>
      <label class="option">
        <input
          type="radio"
          name="{{ include.question.id }}"
          value="+2" />
          Bevorzuge ich ganz klar
      </label>
    </div>
  </div>
  <label class="double">
    <input name="double-{{ include.question.id }}" type="checkbox" />
    Das ist mir besonders wichtig!
  </label>
</fieldset>