/**Header**/

#header{
    grid-column: full;

    background: #BBA888;
    border-radius: 0px 0px 30px 30px;
    padding: 20px;
    filter: drop-shadow(0px 0px 10px #29000077);
    margin-block-end: 40px;
}
#header .wrap{
    display: flex;
    grid-column: content;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;
    position: relative;
}

#header img{
    max-width: 600px;
    height: auto;
    position: absolute;
    top: 15%;
    width: 100%;
    object-fit: contain;
    object-position: left;
}

#header .header-nav{
    margin-left: auto;
    display: flex;
}

#header .social{
    font-size: 48px;
    color: #463f39;
    text-decoration: none;
    border: 5px solid #dbcbaa;
    background: #dbcbaa;
    border-radius: 15px;
    display: flex;
    width: 48px;
    margin-left: 20px;
}
#header .social:hover{
    color: #463f39;
    border: 5px solid #85A144;
    background: #85A144;
}

@media only screen and (max-width: 1000px) {
    #header img{
        position: initial;
        max-height: 100px;
        max-width: 400px;
    }
    #header .header-nav{
        align-items: center;
    }
    #header .social{
        height: fit-content;
    }
}

@media only screen and (max-width: 600px) {
    #header .wrap{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #header .header-nav{
        margin-left: initial;
        margin-top: 20px;
    }
}