/**Header**/

#header{
    grid-column: full;
    display: grid;
    grid-template-columns: subgrid;

    background: #BBA888;
    border-radius: 0px 0px 2rem 2rem;
    padding-block: 1rem;
    filter: drop-shadow(0px 0px 10px #29000077);
    margin-block-end: 2rem;

    position: relative;
}

#header .wrap{
    display: flex;
    grid-column: content;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    row-gap: 1rem;
    height: 48px;
}

#header img{
    max-width: 600px;
    position: absolute;
    top: 15%;
    width: 100%;
}

#header .header-nav{
    display: flex;
    gap: 0.5rem;
    height: 48px;
}

#header .social{
    color: #463f39;
    text-decoration: none;
    background: #dbcbaa;
    border-radius: 1rem;
    width: 48px;
    height: 48px;
    padding: 0.5em;
    display: flex;
    justify-content: center;
}

#header .social svg {
    fill: currentColor;
}

#header .social:hover{
    background: #85A144;
}

@media only screen and (max-width: 900px) {
    #header img{
        max-width: 66%;
    }
}

@media only screen and (max-width: 600px) {
    #header img{
        position: initial;
        max-width: revert;
    }

    #header .wrap{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
}