
body{
    background: #DCCCAB  url(../images/grunge.png);
}



#content{
    max-width: 1400px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}
#content *{
    font-family: 'Open Sans';
}

/**Header**/

#header{
    background: #BBA888;
    border-radius: 0px 0px 30px 30px;
    padding: 20px;
    filter: drop-shadow(0px 0px 10px #29000077);
}
#header .wrap{
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;
    position: relative;
}

#header img{
    max-width: 800px;
    height: auto;
    position: absolute;
    top: 15%;
    width: 100%;
    object-fit: contain;
    object-position: left;
}

#header .header-nav{
    margin-left: auto;
    display: flex;
}

#header .social{
    font-size: 48px;
    color: #463f39;
    text-decoration: none;
    border: 5px solid #dbcbaa;
    background: #dbcbaa;
    border-radius: 15px;
    transition: all 200ms ease-in-out;
    display: flex;
    width: fit-content;
    margin-left: 20px;
}
#header .social:hover{
    color: #463f39;
    border: 5px solid #85A144;
    background: #85A144;
}

@media only screen and (max-width: 1000px) {
    #header img{
        position: initial;
        max-height: 100px;
        max-width: 400px;
    }
    #header .header-nav{
        align-items: center;
    }
    #header .social{
        height: fit-content;
    }
}

@media only screen and (max-width: 600px) {
    #header .wrap{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #header .header-nav{
        margin-left: initial;
        margin-top: 20px;
    }
}

/**Content LEFT**/

#content #left{
    max-width: 50%;
    padding: 20px;
}

.intro *{
 color: #2A2622;
}

.intro h1{
    font-weight: bold;
    margin-bottom: 40px;
}

/**Content RIGHT**/
#content #right{
    max-width: 50%;
    padding: 20px;
}