
body{
    background: #DCCCAB  url(../images/grunge.png);
}



#content{
    max-width: 1400px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}
#content *{
    font-family: 'Open Sans';
}

/**Header**/

#header{
    background: #BBA888;
    border-radius: 0px 0px 30px 30px;
    padding: 20px;
    filter: drop-shadow(0px 0px 10px #29000077);
}
#header .wrap{
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;
    position: relative;
}

#header img{
    max-width: 800px;
    height: auto;
    position: absolute;
    top: 15%;
    width: 100%;
    object-fit: contain;
    object-position: left;
}

#header .header-nav{
    margin-left: auto;
    display: flex;
}

#header .social{
    font-size: 48px;
    color: #463f39;
    text-decoration: none;
    border: 5px solid #dbcbaa;
    background: #dbcbaa;
    border-radius: 15px;
    display: flex;
    width: fit-content;
    margin-left: 20px;
}
#header .social:hover{
    color: #463f39;
    border: 5px solid #85A144;
    background: #85A144;
}

@media only screen and (max-width: 1000px) {
    #header img{
        position: initial;
        max-height: 100px;
        max-width: 400px;
    }
    #header .header-nav{
        align-items: center;
    }
    #header .social{
        height: fit-content;
    }
}

@media only screen and (max-width: 600px) {
    #header .wrap{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #header .header-nav{
        margin-left: initial;
        margin-top: 20px;
    }
}

/**Content LEFT**/

#content #left{
    max-width: 50%;
    padding: 20px;
}

.intro *{
 color: #2A2622;
}

.intro h1{
    margin-bottom: 40px;
    color: #2a2622;
    font-size: 40px;
    font-weight: bold;
}

#war-o-mat .wrap{
    border: 5px solid #85a144;
    border-radius: 20px;
    background: #2a2622;
    padding: 20px;
}

#war-o-mat #jumpnav{
    width: 100%;
    background: #48413b;
    padding: 10px;
}

#jumpnav li a {
    border-radius: 100%;
    border: none!important;
    background: #dcccab;
    color: #dcccab;
    height: 23px;
    width: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 16px;
}

#jumpnav li.active a {
    background: #85a144;
}

.formbtn{
    display: flex;
    justify-content: space-between;
}

.formbtn #show-results-button{
    border: 4px solid #85a144;
    background: #48413b;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    height: fit-content;
    font-size: 16px;
    font-weight: bold;
    color: #dcccab;
}

.formbtn #show-results-button:hover{
    border: 4px solid #6B8236;
    background: #85a144;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    height: fit-content;
    font-size: 16px;
    font-weight: bold;
    color: #dcccab;
}

/**Content RIGHT**/
#content #right{
    max-width: 50%;
    padding: 20px;
}

#result h2{
    margin-bottom: 40px;
    color: #2a2622;
    font-size: 40px;
    font-weight: bold;
}

#result-list article{
    border: 5px solid #85a144;
    border-radius: 30px;
    padding: 20px;
    background: #2a2622d9;
}

#result-list article h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #dbcbaa;
    font-weight: bold;
}

#result-list article p{
    margin-bottom: 20px;
    color: #dcccab;
    font-size: 16px;
}

#result-list article a{
    margin-left: auto;
    padding: 10px 20px;
    height: fit-content;
    color: #dcccab;
    background: #85a144;
    border: 5px solid #617531;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    width: fit-content;
    border-radius: 30px;
}

#result-list article a:hover{
    color: #2a2622;
}

form .question{
    border: none;
    padding: 0px;
}

form .question h2{
    font-size: 24px;
    font-weight: bold;
    color: #dcccab;
    margin-bottom: 20px;
}

form .question legend{
    font-size: 16px;
    color: #dcccab;
    margin-bottom: 20px;
}

form .chooser .chooserwrap{
    display: flex;
    justify-content: space-between;
    position: relative;
}

form .chooserwrap::after{
    content: '';
    height: 1px;
    background: #dcccab;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 23px;
}

form .chooser .choice-label{
    font-size: 16px;
    font-weight: initial;
    color: #dcccab;
    margin: 0px -10px;
    padding: 10px;
    background: #2a2622;
    width: fit-content;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}

form .options{
    display: flex;
    justify-content: space-between;
}

form .options .option{
    font-size: 16px;
    font-weight: bold;
    color: #dcccab;
    background: #48413b;
    padding: 10px;
    border: 4px solid #85a144;
    display: flex;
    min-width: initial;
    min-height: initial;
    border-radius: 20px;
}

form .options .option:hover, form .options .option:has(> input:checked){
    font-size: 16px;
    font-weight: bold;
    color: #dcccab;
    background: #85a144;
    padding: 10px;
    border: 4px solid #6B8236;
    display: flex;
    min-width: initial;
    min-height: initial;
    border-radius: 20px;
}

/**Footer**/

footer{
    background: #48413B;
}
footer .wrap{
    display: flex;
    max-width: 1400px;
    margin: auto;
    padding: 20px;
    justify-content: space-between;
    width: 100%;
}

footer img{
    max-width: 400px;
    height: auto;
    width: 100%;
    object-fit: contain;
}

footer .footer-nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

footer img{
    max-width: 400px;
    height: auto;
    width: 100%;
    object-fit: contain;
}

footer .text.link{
    font-size: 20px!important;
    text-decoration: none;
    color: #dcccab!important;
    text-transform: uppercase;
}

footer .text.link:hover{
    color: #86a149!important;
}