#jumpnav {
    display: flex; 
    justify-content: center; 
    background: var(--color-jumpnav-surface);
    color: var(--color-on-surface);
}

#jumpnav [role="tablist"] {
    padding-block: .5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#jumpnav button {
    color: inherit;
    background-color: transparent;
    border: none;
}

#jumpnav button:hover {
    background-color: rgba(240, 240, 240, 0.05);
}

#jumpnav a {
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#jumpnav .indicator {
    color: transparent;
    width: 50%;
    height: 50%;
    background: var(--color-on-surface);
    border-radius: 9999px;
}

.indicator {
    scale: 1;
    transition: scale var(--motion-duration-medium2) var(--motion-easing-standard);
}

[data-done="true"] .indicator {
    background: var(--color-tabletoptroll-green);
    color: var(--color-jumpnav-surface);
}

[aria-selected="true"] .indicator {
    scale: 1.3;
}

:hover > .indicator{
    background: var(--color-tabletoptroll-green);
}