#result h2{
    margin-bottom: 40px;
    color: var(--color-on-surface);
    font-size: 40px;
    font-weight: bold;
}

.result-entry {
    border: 5px solid var(--color-tabletoptroll-green);
    border-radius: 30px;
    padding: 20px;
    background: var(--color-surface-light);
    color: var(--color-on-surface); 
}

.result-entry h3{
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    margin-block-start: -.5ex; /* font dependent! */
}

.result-entry a.button {
    float: inline-end;
    color: var(--color-on-tabletoptroll-green);
    background: var(--color-tabletoptroll-green);
    border: 5px solid #617531;
    font-weight: bolder;
}

.result-entry a:hover{
    color: var(--color-on-tabletoptroll-green);
}