
/* All li after the active */
.stacked-list > li.active ~ li {
    translate: 100%;
}

/* All li before the active */
.stacked-list > li:has(~ li.active) {
    scale: 0.8;
}

/* All li that are not active */
.stacked-list > li:not(.active) {
    opacity: 0;
    visibility: hidden;
}

.stacked-list > li {
    transition:  
        opacity var(--motion-duration-emphasized-decelerate) var(--motion-easing-emphasized-decelerate),
        translate var(--motion-duration-emphasized-decelerate) var(--motion-easing-emphasized-decelerate),
        scale var(--motion-duration-emphasized-decelerate) var(--motion-easing-emphasized-decelerate);
}

.stacked-list {
    display: grid;
    overflow: hidden;
}

.stacked-list > * {
    grid-area: 1 / 1 / -1 / -1;
}