:root {
    /* Automatische Generierung der Grundfarben aus der Primärfarbe */

    --primary-chroma: 0.1;
    --primary-hue: 123.11deg;
    --primary-ch: var(--primary-chroma) var(--primary-hue);

    --secondary-chroma: calc(var(--primary-chroma) / 3.0);
    --secondary-hue: var(--primary-hue);
    --secondary-ch: var(--secondary-chroma) var(--secondary-hue);

    --tertiary-chroma: calc(var(--primary-chroma) / 2.0);
    --tertiary-hue: calc(var(--primary-hue) + 130deg);
    --tertiary-ch: var(--tertiary-chroma) var(--tertiary-hue);

    --neutral-chroma: calc(min(var(--primary-chroma) / 12, 0.02)); 
    --neutral-hue: var(--primary-hue);
    --neutral-ch: var(--neutral-chroma) var(--neutral-hue);

    --neutral-variant-chroma: calc(var(--neutral-chroma) * 2.0);
    --neutral-variant-hue: var(--neutral-hue);
    --neutral-variant-ch: var(--neutral-variant-chroma) var(--neutral-variant-hue);
}

:root {
    /* Hier werden semantische Farben generiert. 
       Ist das nicht cool? Und wahnsinnig overengineered?
       Kontrast passt immer!
       "Inspiriert" von Material Design 3 : https://m3.material.io/foundations/design-tokens/overview
    */
    --color-primary: oklch(47.45% var(--primary-ch));
    --color-on-primary: oklch(100% var(--primary-ch));

    --color-primary-container: oklch(90% var(--primary-ch));
    --color-on-primary-container: oklch(40% var(--primary-ch));

    --color-secondary-container: oklch(90% var(--secondary-ch));
    --color-on-secondary-container: oklch(40% var(--secondary-ch));

    --color-tertiary-container: oklch(90% var(--tertiary-ch));
    --color-on-tertiary-container: oklch(40% var(--tertiary-ch));

    --color-surface: oklch(98% var(--neutral-ch));
    --color-surface-container-lowest: oklch(100% var(--neutral-ch));;
    --color-surface-container-low: oklch(96% var(--neutral-ch));
    --color-surface-container: oklch(94% var(--neutral-ch));

    --color-on-surface: oklch(20% var(--neutral-ch));
    --color-on-surface-variant: oklch(40% var(--neutral-variant-ch));


    --color-outline: oklch(50% var(--neutral-variant-ch));
}

/* Grundfarben werden für den Darkmode überschrieben. */
@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;

        --color-primary: oklch(80% var(--primary-ch));
        --color-on-primary: oklch(40% var(--primary-ch));

        --color-primary-container: oklch(40% var(--primary-ch));
        --color-on-primary-container: oklch(90% var(--primary-ch));

        --color-secondary-container: oklch(40% var(--secondary-ch));
        --color-on-secondary-container: oklch(90% var(--secondary-ch));

        --color-tertiary-container: oklch(40% var(--tertiary-ch));
        --color-on-tertiary-container: oklch(90% var(--tertiary-ch));

        --color-surface: oklch(20% var(--neutral-ch));
        --color-surface-container-lowest: oklch(15% var(--neutral-ch));
        --color-surface-container-low: oklch(22% var(--neutral-ch));
        --color-surface-container: oklch(24% var(--neutral-ch));
        --color-on-surface: oklch(90% var(--neutral-ch));
        --color-on-surface-variant: oklch(90% var(--neutral-variant-ch));

        --color-outline: oklch(60% var(--neutral-variant-ch));
    }
}